@import url("https://fonts.googleapis.com/css2?family=Alice&family=PT+Sans:wght@400;700&display=swap");

html, body {
  margin: 0;
  font-size: 18px;
}

body, input, button, select, textarea {
  font-family: "PT Sans", sans-serif;
}

a { 
  color: #000;
  // Add an icon after links that open in a new tab
  &[target="_blank"]:not(.red-button)::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
  }
}

h1, h2, h3, h4, h5, h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: "athelas", serif;
  font-style: normal;
  font-weight: 400;
}